{% extends 'base.html.twig' %}

{% block contenu %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <center>
                <h2>Formulaire pour créer une entreprise</h2>
            </center>
            <div class="jumbotron">
                {{form_start(vueFormulaireEntreprise,{'attr':{'novalidate':'novalidate'}})}}
                <br>
               <label> Nom de l'entreprise </label>
               {{form_errors(vueFormulaireEntreprise.nom)}}
                {{form_widget(vueFormulaireEntreprise.nom, {'attr':{'placeholder':"Safran ...",'required':'true'}})}}
                <br>
                <label> Activité principale </label>
                {{form_errors(vueFormulaireEntreprise.activite)}}
                {{form_widget(vueFormulaireEntreprise.activite, {'attr':{'placeholder':"Createur de pain",'required':'true'}})}}
                <br>
                <label> Adresse </label>
                {{form_errors(vueFormulaireEntreprise.adresse)}}
                {{form_widget(vueFormulaireEntreprise.adresse, {'attr':{'placeholder':"Rue des sierges",'required':'true'}})}}
                <br>
                <label> site web</label>
                {{form_errors(vueFormulaireEntreprise.siteWeb)}}
                {{form_widget(vueFormulaireEntreprise.siteWeb, {'attr':{'placeholder':"Safran@goigo.cjae.com"}})}}

                <br>
                <br>
                <center>
                    <button type="submit" class="btn btn-info">Enregistrer</button>
                </center>

                {{form_end(vueFormulaireEntreprise)}}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block menu %}
{% endblock %}

{% block footer %}
{% endblock %}