{% extends 'base.html.twig' %}

{% block contenu %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Stage</th>
                        <th scope="col">Entreprise</th>
                        <th scope="col">Activité de l'entreprise</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for stageCourant in stagesParEntreprise %}
                    <tr>
                        <td>
                            <a href="{{path('stages', {id:stageCourant.id})}}" style="color:white; text-decoration:none;">
                                {{stageCourant.titre}}
                            </a>
                        </td>
                        <td>
                                {% for stageParEntrepriseCourant in stagesParEntreprise %}
                                <a href="{{path('entreprisesParStage', {nomEntreprise:stageCourant.nomEntreprise.getNom})}}" style="color:white; text-decoration:none;">
                                        {{stageParEntrepriseCourant.nomEntreprise.nom}}
                                </a>    
                        </td>
                        <td>
                             {{stageParEntrepriseCourant.nomEntreprise.activite}}        
                        </td>
                        <td>
                                {{stageParEntrepriseCourant.description}}        
                        </td>
                                {% endfor %}
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}