{% extends 'base.html.twig' %}
{% block menu %}
Entreprise
{% endblock %}

{% block contenu %}

<h1><strong><center>{{ stagesParEntreprise.nomEntreprise.nom }}</center></strong></h1>
<center style="font-family:Courier New">Entreprise {{stagesParEntreprise.nomEntreprise.nom}}</center>
</br></br>

<strong>Stages concernés</strong> :

{% for entrepriseParStageCourant in stageParEntreprise.formations %}

{{entrepriseParStageCourant.nomCourt}} ({{entrepriseParStageCourant.nomLong}})
{% endfor %}

<strong>Entreprise</strong> : {{stagesParEntreprise.nomEntreprise.nom}}
</br></br>

<strong>Activité de l'entreprise</strong> : {{stagesParEntreprise.nomEntreprise.activite}}
</br></br>

<strong>Adresse</strong> : {{stagesParEntreprise.nomEntreprise.adresse}}
</br></br>

<strong>Description</strong> : <p align = "justify">{{stagesParEntreprise.description}}</p>

{% endblock %}