{% extends 'base.html.twig' %}
{% block menu %}

{% endblock %}

{% block contenu %}

{% for stageCourant in stagesParEntreprise %}

<strong>Stages concernés</strong> : {{stageCourant.titre}}



{% for stageParEntrepriseCourant in stagesParEntreprise %}
<strong>Entreprise</strong> : {{stageParEntrepriseCourant.nomEntreprise.nom}}
</br></br>

<strong>Activité de l'entreprise</strong> : {{stageParEntrepriseCourant.nomEntreprise.activite}}
</br></br>

<strong>Adresse</strong> : {{stageParEntrepriseCourant.nomEntreprise.adresse}}
</br></br>

<strong>Description</strong> : <p align="justify">{{stageParEntrepriseCourant.description}}</p>

{% endfor %}

{% endfor %}

{% endblock %}

{% block footer %}
{% endblock %}