{% extends 'base.html.twig' %}

{% block contenu %}

<table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">nom</th>
            <th scope="col">adresse</th>
            <th scope="col">activite</th>
            <th scope="col">site Web</th>
            <th scope="col">modifier</th>
          </tr>
        </thead>
        <tbody>
      
          {% for EntrepriseCourante in entreprises %}
      
          <tr>
      
            <td><a href="{{ path('entreprisesParStage',{nomEntreprise:EntrepriseCourante.nom})}}" style="color:white; text-decoration:none;">
                {{ EntrepriseCourante.nom }}
              </a></td>
      
            <td>{{ EntrepriseCourante.adresse }}</td>
            <td>{{ EntrepriseCourante.activite }}</td>
            <td>{{ EntrepriseCourante.siteWeb }}</td>
            <td>
                </a>
                <a href="{{path('modifierEntreprise', {id:EntrepriseCourante.getId})}}"
                    style="color:white; text-decoration:none;">
                    <center><i class="icon-edit"></i></center>
                </a>
            </td>
          </tr>
      
          {% endfor %}
        </tbody>
      </table>
{% endblock %}
