{% extends 'base.html.twig' %}

{% block contenu %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <center>
                <h2>Formulaire pour créer une entreprise</h2>
            </center>
            <div class="jumbotron">
                {{form_start(vueFormulaireEntreprise)}}

                <label> Nom de l'entreprise</label>
                {{form_widget(vueFormulaireEntreprise.nom, {'attr':{'placeholder':"Safran ...",'required':'true'}})}}

                <label> Activité de l'entreprise</label>
                {{form_widget(vueFormulaireEntreprise.activite, {'attr':{'placeholder':"Createur de pain",'required':'true'}})}}

                <label> Adresse de l'entreprise</label>
                {{form_widget(vueFormulaireEntreprise.adresse, {'attr':{'placeholder':"Rue des sierges",'required':'true'}})}}

                <label> Site Web de l'entreprise</label>
                {{form_widget(vueFormulaireEntreprise.siteWeb, {'attr':{'placeholder':"Safran@goigo.cjae.com"}})}}

                <br>
                <br>
                <center>
                    <button type="submit" class="btn btn-info">Enregistrer</button>
                </center>

                {{form_end(vueFormulaireEntreprise)}}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block menu %}
{% endblock %}

{% block footer %}
{% endblock %}