{% extends 'base.html.twig' %}
{% block menu %}
Stage n°{{stages.id}}
{% endblock %}

{% block contenu %}

<h1><strong><center>{{ stages.titre }}</center></strong></h1>
<center style="font-family:Courier New">Stage n°{{stages.id}}</center>
</br></br>

<strong>Formation concernée</strong> :

{% for stageCourant in stages.formations %}
<h2>
<td>
{{stageCourant.nomCourt}} ({{stageCourant.nomLong}} 
</td>
</h2>
{% endfor %}
</br></br>

<strong>Entreprise</strong> : {{stages.nomEntreprise.nom}}
</br></br>

<strong>Activité de l'entreprise</strong> : {{stages.nomEntreprise.activite}}
</br></br>

<strong>Adresse</strong> : {{stages.nomEntreprise.adresse}}
</br></br>

<strong>Description</strong> : <p align = "justify">{{stages.description}}</p>

{% endblock %}