{% extends 'base.html.twig' %}
{% block menu %}
Stage n°{{stage.id}}
{% endblock %}

{% block contenu %}

<h1><strong><center>{{ stage.titre }}</center></strong></h1>
<center style="font-family:Courier New">Stage n°{{stage.id}}</center>
</br></br>

<strong>Formation concernée</strong> :

{% for formationCourante in stage.formations %}
{{formationCourante.nomCourt}} ({{formationCourante.nomLong}})
{% endfor %}
</br></br>

<strong>Entreprise</strong> : {{stage.nomEntreprise.nom}}
</br></br>

<strong>Activité de l'entreprise</strong> : {{stage.nomEntreprise.activite}}
</br></br>

<strong>Adresse</strong> : {{stage.nomEntreprise.adresse}}
</br></br>

<strong>Description</strong> : <p align = "justify">{{stage.description}}</p>

{% endblock %}