{% extends 'base.html.twig' %}

{% block contenu %}
<center>
    <h1> Liste des Entreprises</h1>
</center>
    

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Activite</th>
                <th>Adresse</th>
                <th>SiteWeb</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.nom }}</td>
                <td>{{ entreprise.activite }}</td>
                <td>{{ entreprise.adresse }}</td>
                <td>{{ entreprise.siteWeb }}</td>
                <td>
                    <a href="{{ path('entreprise_show', {'id':entreprise.id}) }}"style="color:black; text-decoration:none;"> <i class="icon-mouse-pointer"></i></a>
                    <hr>
                    <a href="{{ path('entreprise_edit', {'id': entreprise.id}) }}"style="color:black; text-decoration:none;"><i class="icon-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune entreprise enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('entreprise_new') }}">Céer entreprise</a>
{% endblock %}
