<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('/css/fontello.css')}}">
</head>

<body>
    {% block slider %}
    <div class="col-md-12">
        <blockquote class="blockquote text-center">
            <p class="mb-0">
                <h1>
                    <center><i class="icon-lastfm-1"></i><a href="{{path('proStage')}}"
                            style="color:darkgoldenrod; text-decoration: none">Prostages</a>
                            <hr>
                    </center>
                </h1>
            </p>
            <h3>
            </h3>
        </blockquote>
    </div>
    {% endblock %}
    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                    {% block title %}
                    {% endblock %}
                {% block contenu %}
                {% endblock %}
            </div>


            {% block menu %}
            <div class="col-md-3">
                    {% if is_granted('ROLE_USER') %}
                    {{ app.user.prenom }}
                    {{ app.user.nom }}
                    <i class="icon-user"></i>
                    <a href="{{path('app_logout')}}">Déconnexion</a>
                    {% else %}
                    <i class="icon-user"></i>
                    <a href="{{path('app_login')}}">Connexion</a> 
                    <br>
                    <i class="icon-pencil"></i> 
                    <a href="{{path('app_inscription')}}">Inscription</a>
                    

                {% endif %}
                
                
                    
                    <br>
                    <br>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h1>
                            <center> Filtrer par </center>
                        </h1>
                    </li>
                    <li class="list-group-item"><a href="{{path('entreprise_index')}}">Entreprises</a> </li>
                    <li class="list-group-item"><a href="{{path('formation_index')}}">Formations</a> </li>
                </ul>
                <br>
                <br>
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{path('entreprise_new')}}">Rajouter une entreprise</a> <br> <br> 
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                <a href="{{path('stage_new')}}">Rajouter un stage</a>
                {% endif %}
                
            </div>
        </div>
                {% endblock %}
            

        


        {% block footer %}
        <br>
        <br>
        <h6 align="right">Site réalisé par Mathieu Echarte avec les frameworks <a href="https://symfony.com">Symfony</a>
            et <a href="https://getbootstrap.com">Bootstrap</a></h6>
        {% endblock %}
    </div>
    {% block javascripts %}
    {% endblock %}
    
</body>

</html>