{% extends 'base.html.twig' %}

{% block contenu %}
    <h1>Liste des stages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stage in stages %}
            <tr>
                <td>{{ stage.titre }}</td>
                <td>{{ stage.description }}</td>
                <td>{{ stage.email }}</td>
                <td>
                    <a href="{{ path('stage_show', {'id': stage.id}) }}"style="color:black; text-decoration:none;"> <i class="icon-mouse-pointer"></i></a>
                    <hr>
                    <a href="{{ path('stage_edit', {'id': stage.id}) }}"style="color:black; text-decoration:none;"><i class="icon-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">aucun stage trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('stage_new') }}">Créer un nouveau stage</a>
{% endblock %}
