{% extends 'base.html.twig' %}

{% block contenu %}
    <h1>Stage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stage.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ stage.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ stage.description }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ stage.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('stage_index') }}">retour à la liste des stages</a>
    <hr>
    <a href="{{ path('stage_edit', {'id': stage.id}) }}"style="color:black; text-decoration:none;">editer <i class="icon-edit"></i></a>
    <hr>

    {{ include('stage/_delete_form.html.twig') }}
{% endblock %}
